<h3>Modify your dog's details below.</h3>

<%= form_for @dog, url: user_dog_path(current_user, @dog) do |f| %>

  <%= render partial: "new_dog_form", locals: {f: f, complete: true}%>

  <%= f.submit "Update Dog", class: "btn btn-success btn-lg" %>
<% end %>
