<div class="container text-left text-light align-middle">
  <ol>
    <% @dogs.all.each do |dog| %>
      <li><a href="<%= user_dog_path(current_user, dog) %>"><%= dog.name %></a></li>
    <% end %>
  </ol>
  <%= link_to "Add a dog", new_user_dog_path(current_user), class: "btn btn-success btn-lg" %>
</div>
