<div class="container text-left text-light align-middle">
  <a class="btn btn-success btn-lg" href="<%= new_user_dog_path(current_user) %>" role="button">Add a dog</a>
  <ol>
    <% @dogs.all.each do |dog| %>
      <li><a href="<%= user_dog_path(current_user, dog) %>"><%= dog.name %></a></li>
    <% end %>
  </ol>
</div>
