<div class="container text-left text-light align-middle">

<%= render partial: "dog_img_about", locals: {dog: @dog, div_class: "", complete: true} %>


<p><%= link_to "Update Dog", edit_user_dog_path(current_user, @dog), class: "btn btn-success btn-lg" if current_user.dogs.include?(@dog)%></p>
<%= link_to 'Remove Dog', user_dog_path(current_user, @dog), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger btn-lg" if current_user.dogs.include?(@dog)%>
</div>
