<div class="dog-show" data-id="<%= @dog.id %>" data-uid="<%= @dog.user_id %>"></div>

<%= javascript_include_tag "dog" %>

<script id="dog-template" type="text/x-handlebars-template">
    {{#imgLink .}}{{/imgLink}}
    <div class="dog col-lg-4 text-left mb-4">
      <a href="#" class="btn btn-outline-warning btn-sm" id="prevDog">< Previous Dog</a>
      <a href="#" class="btn btn-outline-warning btn-sm pull-right" id="nextDog">Next Dog ></a><br><br>
      <h2 class="yellow-text">{{name}}</h2>
      <img class="dog-img" src="{{img}}">
      <div class="">
            {{age}} years old<br>
            {{weight}} lbs.<br>
            {{breed}}<br>
            {{sex}}<br>
            Fixed? {{fixed}}<br>
            <span id="friendly"></span>
            <span id="aggressive"></span>
      </div><br>
      <div class="play-dates">
        <h4 class="yellow-text">{{name}}'s Playdates</h4>
        <ul>
          {{#each playDates}}
            <li><a href="/play_dates/{{id}}">{{name}}</a>
            <p class="indent-57">
              <i class="fas fa-map-marker-alt"></i><span class="indent-10">{{location}}<br>
              <i class="fas fa-calendar"></i><span class="indent-10">{{date}}</li>
            </p>
          {{/each}}
        </ul>
      </div>
      <a class="btn btn-success btn-lg" href="/users/{{userId}}/dogs/{{id}}/edit">Update Dog</a><br><br>
      <a data-confirm="Are you sure?" class="btn btn-danger btn-lg" rel="nofollow" data-method="delete" href="/users/{{userId}}/dogs/{{id}}">Remove Dog</a>
    </div>
</script>
