<div class="container text-center">
  <div class="jumbotron">
    <h1 class="display-2">Welcome to Wagger.</h1>
    <h2>Wag better - <u>together</u>.</h2>
    <p class="lead"><br>
      <a class="btn btn-primary btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a>
      <span>&nbsp&nbsp&nbspor&nbsp&nbsp&nbsp</span>
      <a class="btn btn-primary btn-lg" href="<%= login_path %>" role="button">Log In</a>
    </p>
  </div>
</div>
