<div class="text-center">
  <h1 class="display-2 font-weight-bold">Welcome to Wagger.</h1>
  <h1 class="display-2 font-weight-bold"><i class="fas fa-dog"></i></h1>
  <h2>Wag better - <u>together</u>.</h2>
  <p class="lead"><br>
    <p><a class="btn btn-success btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a></p>
    <p>or</p>
    <p><a class="btn btn-success btn-lg" href="<%= login_path %>" role="button">Log In</a></p>
    <p>or</p>
    <h3><%= link_to('<span id="white-fb">Log in with Facebook </span><i class="fab fa-facebook-square"></i>'.html_safe, '/auth/facebook') %></h3>
  </p>
</div>
