<div class="container text-left text-light align-middle">
  <h1>Welcome to Wagger, <%= current_user.name %>.</h1>
  <hr class="fade">
  <p>Wagger provides a way to connect with other dog owners and to let all of our fuzzy friends to play!</p>
  <p>Start by adding your dogs and joining an existing playdate. You can also create a playdate of your own!</p><br>

  <h5><strong>Newest playdates</strong></h5>
  <ul>
    <% PlayDate.last_five.each do |p| %>
    <li>
      <a href="<%= play_date_path(p) %>"><%= p.name %></a><br>
      <%= "#{p.location}, #{p.format_date}, #{p.format_time}"  %>
    </li><br>
    <% end %>
  </ul>
</div>
