<ul>
  <% playdates.each do |p| %>
    <li>
      <% if p.user == current_user %>
        <i class="fas fa-user-edit"></i>
      <% else %>
        <i class="fas fa-user-edit invert"></i>
      <% end %> &nbsp
      <% if current_user.play_dates.include?(p) %>
        <i class="fas fa-calendar-check"></i>
      <% else %>
        <i class="fas fa-calendar-check invert"></i>
      <% end %>
      <a href="<%= play_date_path(p) %>" class="indent-10"><%= p.name %></a>

      <p class="indent-57">
        <i class="fas fa-map-marker-alt"></i><span class="indent-10"><%= "#{p.location}" %><br></span>
        <i class="fas fa-calendar"></i><span class="indent-10"><%= "#{p.format_date} at #{p.format_time}" %><br></span>
      </p>
    </li>
  <% end %>
</ul>
