<h3>Enter your dog's details below.</h3>

<%= form_for @playdate, url: play_date_path(@playdate) do |f| %>

  <%= render partial: "play_date_fields", locals: {f: f} %>

  <br>
  <%= f.submit "Update Playdate", class: "btn btn-success btn-lg" %>
<% end %>
