<div class="container text-left text-light align-middle">
  <a class="btn btn-success btn-lg" href="<%= new_play_date_path %>" role="button">Create a New Playdate</a>
  <ul>
    <% @playdates.each do |date| %>
      <li>
        <a href="<%= play_date_path(date) %>"><%= date.location %></a>
      </li>
    <% end %>
  </ul>
</div>
